{% extends 'layout.html' %}

{% block content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Shop Category page</h1>
					<nav class="d-flex align-items-center">
						<a href="/index">메인<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">상품<span class="lnr lnr-arrow-right"></span></a>
						<a href="/items">카테고리별 상품</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">상품 카테고리</div>
					<ul class="main-categories">
						<li class="main-nav-list"><a href="/items">전체<span class="number" id="total_num"></span></a></li>

						<li class="main-nav-list"><a data-toggle="collapse" href="#shoes" aria-expanded="false" aria-controls="shoes"><span
								class="lnr lnr-arrow-right"></span>신발<span class="number" id="total_shoes_num"></span></a>
							<ul class="collapse" id="shoes" data-toggle="collapse" aria-expanded="false" aria-controls="shoes">
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#top" aria-expanded="false" aria-controls="top"><span
								 class="lnr lnr-arrow-right"></span>상의<span class="number" id="total_top_num"></span></a>
							<ul class="collapse" id="top" data-toggle="collapse" aria-expanded="false" aria-controls="top">
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#pants" aria-expanded="false" aria-controls="pants"><span
								 class="lnr lnr-arrow-right"></span>하의<span class="number" id="total_pants_num"></span></a>
							<ul class="collapse" id="pants" data-toggle="collapse" aria-expanded="false" aria-controls="pants">
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#outer" aria-expanded="false" aria-controls="outer"><span
								class="lnr lnr-arrow-right"></span>아우터<span class="number" id="total_outer_num"></span></a>
					   		<ul class="collapse" id="outer" data-toggle="collapse" aria-expanded="false" aria-controls="outer">
					   		</ul>
				   		</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#sportswear" aria-expanded="false" aria-controls="sportswear"><span
								 class="lnr lnr-arrow-right"></span>스포츠웨어<span class="number" id="total_sportswear_num"></span></a>
							<ul class="collapse" id="sportswear" data-toggle="collapse" aria-expanded="false" aria-controls="sportswear">
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#cap" aria-expanded="false" aria-controls="cap"><span
								 class="lnr lnr-arrow-right"></span>모자<span class="number" id="total_cap_num"></span></a>
							<ul class="collapse" id="cap" data-toggle="collapse" aria-expanded="false" aria-controls="cap">
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#innerwerar" aria-expanded="false" aria-controls="innerwerar"><span
								 class="lnr lnr-arrow-right"></span>이너웨어<span class="number" id="total_innerwerar_num">(65)</span></a>
							<ul class="collapse" id="innerwerar" data-toggle="collapse" aria-expanded="false" aria-controls="innerwerar">
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#bag" aria-expanded="false" aria-controls="bag"><span
								 class="lnr lnr-arrow-right"></span>가방<span class="number" id="total_bag_num"></span></a>
							<ul class="collapse" id="bag" data-toggle="collapse" aria-expanded="false" aria-controls="bag">
							</ul>
						</li>
					</ul>
				</div>
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head">Product Filters</div>
					<div class="common-filter">
						<div class="head">Brands</div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">Apple<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">Asus<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">Gionee<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="micromax" name="brand"><label for="micromax">Micromax<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">Samsung<span>(19)</span></label></li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">Price</div>
						<div class="price-range-area">
							<div id="price-range"></div>
							<div class="value-wrapper d-flex">
								<div class="price">Price:</div>
								<span>$</span>
								<div id="lower-value"></div>
								<div class="to">to</div>
								<span>$</span>
								<div id="upper-value"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting">
						<select class="sort-box">
							<option value="price">가격 낮은순</option>
							<option value="createdAt,desc">최신순</option>
						</select>
					</div>
					<div class="sorting mr-auto">
						<select class="num-box">
							<option value="3" >3개씩 보기</option>
							<option value="6" >6개씩 보기</option>
							<option value="9" >9개씩 보기</option>
						</select>
					</div>
					<div class="pagination">
					</div>
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row" id="product-wrapper">
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting">
						<select class="sort-box">
							<option value="price">가격순</option>
							<option value="createdAt,desc">최신순</option>
						</select>
					</div>
					<div class="sorting mr-auto">
						<select class="num-box">
							<option value="3" >3개씩 보기</option>
							<option value="6" >6개씩 보기</option>
							<option value="9" >9개씩 보기</option>
						</select>
					</div>
					<div class="pagination">
					</div>
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon1.png" alt="">
						</div>
						<h6>Free Delivery</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon2.png" alt="">
						</div>
						<h6>Return Policy</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon3.png" alt="">
						</div>
						<h6>24/7 Support</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon4.png" alt="">
						</div>
						<h6>Secure Payment</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/js/category.js"></script>
    
{% endblock %}